.page_container {
  background-size: cover;
  height: 100vh;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
}
.welcome {
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.8em;
  margin-bottom: 0px;
}
